In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split



data = pd.read_csv(r'C:\Users\Alamzeb\Desktop\mercedesbenz.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'y'])
data.head()

        y X1  X2 X3 X4 X5 X6
0  130.81  v  at  a  d  u  j
1   88.53  t  av  e  d  y  l
2   76.26  w   n  c  d  x  j
3   80.62  t   n  f  d  x  l
4   78.02  v   n  f  d  h  d

In [5]:
for col in data.columns[1:]:
    print(col, ': ', len(data[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels
X3 :  7  labels
X4 :  4  labels
X5 :  29  labels
X6 :  12  labels

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data[['X1', 'X2', 'X3', 'X4', 'X5', 'X6']], data.y,
                                                    test_size=0.3,
                                                    random_state=0)
X_train.shape, X_test.shape

((2946, 6), (1263, 6))

In [7]:
X_train.X2.value_counts().to_dict()

{'as': 1155,
 'ae': 342,
 'ai': 289,
 'm': 284,
 'ak': 188,
 'r': 101,
 'n': 97,
 's': 63,
 'e': 61,
 'f': 59,
 'aq': 46,
 'ay': 40,
 'a': 34,
 't': 17,
 'k': 16,
 'i': 15,
 'ag': 15,
 'z': 14,
 'b': 12,
 'd': 12,
 'g': 10,
 'ao': 10,
 'ac': 10,
 'x': 8,
 'y': 8,
 'at': 5,
 'ap': 5,
 'h': 4,
 'q': 3,
 'au': 3,
 'al': 3,
 'an': 3,
 'ah': 3,
 'aw': 2,
 'av': 2,
 'p': 1,
 'l': 1,
 'af': 1,
 'c': 1,
 'aa': 1,
 'o': 1,
 'am': 1}

In [ ]:
X_train.head()